@import "tailwindcss";

.big {
  font-size: 200px;
}

.favicon-circular {
  border-radius: 50%;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-green: #00cc99;
  --color-dark-gray: #333333;
  --color-text-dark: #dadada;
}
